* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	/* !important es para que se sobre escribra sobre los estilos del boostrap */
	background-color: #afecbeb5 !important; 
}

@font-face {
	font-family: alarm;
	src: url(alarm.ttf);
}
/* .color{
	    background-color: #d8e8ff;
} */
#hms {
	height: 68px;
	padding: 5px 0;
	font-size: 25px;
	color: #000;
	font-family: alarm;
}

.cronometro {
	text-align: center;
}

img {
	border-radius: 10px;
}

.aside{
	padding: 2rem;
	visibility: hidden;
}

